{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
{% endblock %}

{% block body %}
    <div class="connexion">
        <div class="container">
            <h1 class="text-center">Mot de passe oublié</h1>
            <p class="text-center">Veuillez entrer votre e-mail, prénom et nom pour vérifier votre identité.</p>

            {% for message in app.flashes('danger') %}
                <div class="alert alert-danger" id="error-message">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form_start(forgotPasswordForm) }}
            <div class="form-group">
                {{ form_label(forgotPasswordForm.email, 'Adresse e-mail') }}
                {{ form_widget(forgotPasswordForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre adresse e-mail'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(forgotPasswordForm.firstname, 'Prénom') }}
                {{ form_widget(forgotPasswordForm.firstname, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre prénom'} }) }}
            </div>

            <div class="form-group">
                {{ form_label(forgotPasswordForm.lastname, 'Nom') }}
                {{ form_widget(forgotPasswordForm.lastname, { 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre nom'} }) }}
            </div>

            <button class="btn btn-primary mt-3" type="submit">Vérifier</button>
            {{ form_end(forgotPasswordForm) }}
        </div>
    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            const errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                setTimeout(function() {
                    errorMessage.style.display = 'none';
                }, 3000);

                errorMessage.addEventListener('click', function() {
                    errorMessage.style.display = 'none';
                });
            }
        });
    </script>
{% endblock %}